# PyCity Schools Analysis

- Analysis

​Charter schools demonstrated superior performance compared to district schools in both average math and reading scores, as well as in the percentage of students passing these subjects.​ 

Further investigation is needed to identify the factors influencing this performance. 

In addition, small and medium-sized schools (those with 2,000 or fewer students) consistently outperformed larger schools across all assessed areas. 

Interestingly, students attending schools with higher budgets (exceeding $630.00 per student) did not perform as well as those in schools with smaller budgets.

---

In [370]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [371]:
school_data_complete["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [372]:
# Calculate the total number of unique schools - use len() on the list of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [373]:
# Calculate the total number of students - count of the number of student Ids
studentCount = school_data_complete["Student ID"].count()
studentCount

39170

In [374]:
# Look at the school data dataframe - take a sum of the budget column
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [375]:
# Calculate the total budget
totalBudget = school_data["budget"].sum()
totalBudget

24649428

In [376]:
# Calculate the average (mean) math score - take the mean of the math_score column from school data complete dataframe
avgMathScore = school_data_complete["math_score"].mean()
avgMathScore

78.98537145774827

In [377]:
# Calculate the average (mean) reading score - take the mean of the math_score column from school data complete dataframe
avgReadingScore = school_data_complete["reading_score"].mean()
avgReadingScore

81.87784018381414

In [378]:
# use conditional to find all students who had a score of 70 or higher in math
passMathStudents = school_data_complete[school_data_complete["math_score"] >= 70]
passMathStudents.head()
#passMathStudents.head()
numPassMath = len(passMathStudents)
numPassMath

29370

In [379]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
# (number of students who passed math / total number of students) * 100
percentagePassedMath = (numPassMath / studentCount) * 100
percentagePassedMath

74.9808526933878

In [380]:
# use conditional to find all students who had a score of 70 or higher in math
passReadingStudents = school_data_complete[school_data_complete["reading_score"] >= 70]
passReadingStudents.head()
#passReadingStudents.head()
numPassReading = len(passReadingStudents)
numPassReading

33610

In [381]:
# Use the following to calculate the percentage of students that passed reading (hint: Look at how the math percentage was calculated)
# (number of students who passed reading / total number of students) * 100
percentagePassedReading = (numPassReading / studentCount) * 100
percentagePassedReading

85.80546336482001

In [382]:
# use conditional to find all students who had a score of 70 or higher in math and reading
passingStudents = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
#passingStudents.head()
numPassingStudents = len(passingStudents)
numPassingStudents

25528

In [383]:
# Use the following to calculate the percentage of students that passed math and reading
# (number of students who passed math and reading / total number of students) * 100
percentagePassed = (numPassingStudents / studentCount) * 100
percentagePassed

65.17232575950983

In [384]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
    {
        "Total Schools": [school_count],
        "Total Students": [studentCount],
        "Total Budget": [totalBudget],
        "Average Math Score": [avgMathScore],
        "Average Reading Score": [avgReadingScore],
        "% Passing Math": [percentagePassedMath],
        "% Passing Reading": [percentagePassedReading],
        "% Overall Passing": [percentagePassed]
    }
)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("{:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("${:.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("${:.2f}%".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","24,649,428.00",78.99,81.88,74.98%,$85.81%,$65.17%

## School Summary

In [385]:
# Look at the school data dataframe
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [386]:
# reset the pandas index in a new dataframe
school_types = school_data.set_index(["school_name"])
school_types

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [387]:
# Use the code provided to select the school type - get a series for all of the school types
school_types1 = school_types["type"]
school_types1

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [388]:
# Calculate the total student count - from each of the schools - use value_counts() on the school_name column from
# complete dataset
perSchoolCounts = school_data_complete["school_name"].value_counts()
perSchoolCounts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [389]:
# get the average of the budgets for each school, do a groupby on the school_data_complete
groupedSchool1DF = school_data_complete.groupby("school_name")
perSchoolBudget = groupedSchool1DF.mean("budget")
# turn the budget column into a series
perSchoolBudget = perSchoolBudget["budget"]
perSchoolBudget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [390]:
# get the average of the budgets for each school, do a groupby on the school_data_complete
groupedSchool1DF = school_data_complete.groupby("school_name")
perSchoolBudget = groupedSchool1DF.mean("budget")
# turn the budget column into a series
perSchoolBudget = perSchoolBudget["budget"]
perSchoolBudget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [391]:
# Calculate the total school budget and per capita - school budgets / student counts
perSchoolCapita = perSchoolBudget / perSchoolCounts
perSchoolCapita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [392]:
# Calculate the average test scores
groupedSchoolDF = school_data_complete.groupby("school_name")
# get the average math scores
avgMathScoreDF = groupedSchoolDF.mean("math_score")
# convert to a series by grabbing just the math_score column
perSchoolMathScores = avgMathScoreDF["math_score"]
perSchoolMathScores

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [393]:
# Calculate the average test scores
groupedSchoolDF = school_data_complete.groupby("school_name")
# get the average reading scores
avgReadingScoreDF = groupedSchoolDF.mean("reading_score")
# convert to a series by grabbing just the reading_score column
perSchoolReadingScores = avgReadingScoreDF["reading_score"]
perSchoolReadingScores

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [394]:
# Calculate the number of schools with math scores of 70 or higher
schoolPassingMathDF = school_data_complete[school_data_complete["math_score"] >= 70]
schoolPassingMathDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [395]:
# use a groupby to count the number of students at each school who passed math
perSchoolPassingMathDF = schoolPassingMathDF.groupby("school_name")
perSchoolPassingMath = perSchoolPassingMathDF["student_name"].count()
perSchoolPassingMath

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [396]:
# Calculate the number of schools with reading scores of 70 or higher
schoolPassingReadingDF = school_data_complete[school_data_complete["reading_score"] >= 70]
schoolPassingReadingDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [397]:
# use a groupby to count the number of students at each school who passed reading
perSchoolPassingReadingDF = schoolPassingReadingDF.groupby("school_name")
perSchoolPassingReading = perSchoolPassingReadingDF["student_name"].count()
perSchoolPassingReading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [398]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher 
schoolPassingDF = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
schoolPassingDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [399]:
perSchoolPassingDF = schoolPassingDF.groupby("school_name")
perSchoolPassing = perSchoolPassingDF["student_name"].count()
perSchoolPassing

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [400]:
# Use the provided code to calculate the passing rates
perSchoolPassingMathPCT = (perSchoolPassingMath / perSchoolCounts) * 100
perSchoolPassingReadingPCT = (perSchoolPassingReading / perSchoolCounts) * 100
perSchoolPassingPCT = (perSchoolPassing / perSchoolCounts) * 100
perSchoolPassingPCT

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [401]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above
per_school_summary = pd.DataFrame(
    {
        "School Type": school_types1,
        "Total Students": perSchoolCounts,
        "Total School Budget": perSchoolBudget,
        "Per Student Budget": perSchoolCapita,
        "Average Math Score": perSchoolMathScores,
        "Average Reading Score": perSchoolReadingScores,
        "% Passing Math": perSchoolPassingMathPCT,
        "% Passing Reading": perSchoolPassingReadingPCT,
        "% Overall Passing": perSchoolPassingPCT,
    }
) 

# Formatting
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:.2f}%".format)  
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [402]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
topSchoolsDF = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
topSchoolsDF.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [403]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottomSchoolsDF = per_school_summary.sort_values(["% Overall Passing"])
bottomSchoolsDF.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [404]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame(
    {
        "9th": ninth_grade_math_scores,
        "10th": tenth_grader_math_scores,
        "11th": eleventh_grader_math_scores,
        "12th": twelfth_grader_math_scores
    }
)

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [405]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame(
    {
        "9th": ninth_grade_reading_scores,
        "10th": tenth_grader_reading_scores,
        "11th": eleventh_grader_reading_scores,
        "12th": twelfth_grader_reading_scores
    }
)

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [406]:
# display the per_school summary dataframe
per_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%

In [407]:
# display the maximum and minimum per student budget
print(per_school_summary["Per Student Budget"].max())
print(per_school_summary["Per Student Budget"].min())

$655.00
$578.00

In [408]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [409]:
# Create a copy of the school summary for later aggregations
schoolSpendingDF = per_school_summary.copy()
schoolSpendingDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

In [410]:
# Use "pd.cut" on the per_school_capita Series from ealier to categorize per student spending based on the bins
schoolSpendingDF["Spending Ranges (Per Student)"] = pd.cut(perSchoolCapita, spending_bins, labels=labels)
schoolSpendingDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,<$585

In [411]:
# since mapping was used earlier, convert all of teh following formatted columns back to floats
schoolSpendingDF["Average Math Score"] = schoolSpendingDF["Average Math Score"].astype(float)
schoolSpendingDF["Average Reading Score"] = schoolSpendingDF["Average Reading Score"].astype(float)
schoolSpendingDF["% Passing Math"] = schoolSpendingDF["% Passing Math"].str.replace("%","").astype(float)
schoolSpendingDF["% Passing Reading"] = schoolSpendingDF["% Passing Reading"].str.replace("%","").astype(float)
schoolSpendingDF["% Overall Pssing"] = schoolSpendingDF["% Overall Passing"].str.replace("%", "").astype(float)
schoolSpendingDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),% Overall Pssing
school_name,,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64%,$585-630,54.64
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33%,<$585,91.33
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20%,$630-645,53.20
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29%,$630-645,54.29
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60%,$585-630,90.60
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53%,$645-680,53.53
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23%,<$585,89.23
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51%,$645-680,53.51
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54%,$645-680,53.54
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54%,$585-630,90.54
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99%,$630-645,52.99
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89%,$585-630,89.89
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95%,$630-645,90.95
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58%,<$585,90.58
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33%,<$585,90.33

In [412]:
spendingGroupedDF = schoolSpendingDF.groupby("Spending Ranges (Per Student)",observed=False).mean(numeric_only=True)
spendingGroupedDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pssing
Spending Ranges (Per Student),,,,,
<$585,83.452500,83.932500,93.460000,96.610000,90.367500
$585-630,81.900000,83.155000,87.132500,92.717500,81.417500
$630-645,78.517500,81.625000,73.485000,84.392500,62.857500
$645-680,76.996667,81.026667,66.163333,81.133333,53.526667

In [413]:
# grab each series
spendingMathSeries = spendingGroupedDF["Average Math Score"]
spendingReadingSeries = spendingGroupedDF["Average Reading Score"]
spendingPassMathSeries = spendingGroupedDF["% Passing Math"]
spendingPassReadingSeries = spendingGroupedDF["% Passing Reading"]
spendingGroupedDF["% Overall Passing"] = (spendingGroupedDF["% Passing Math"] + spendingGroupedDF["% Passing Reading"]) / 2

In [414]:
# Assemble into DataFrame
spendingSummaryDF = pd.DataFrame(
    {
        "Average Math Score": spendingMathSeries,
        "Average Reading Score": spendingReadingSeries,
        "% Passing Math": spendingPassMathSeries,
        "% Passing Reading": spendingPassReadingSeries,
        "% Overall Passing": (spendingPassMathSeries + spendingPassReadingSeries) / 2
    }
)

spendingSummaryDF["Average Math Score"] = spendingSummaryDF["Average Math Score"].map("{:.2f}".format)
spendingSummaryDF["Average Reading Score"] = spendingSummaryDF["Average Reading Score"].map("{:.2f}".format)
spendingSummaryDF["% Passing Math"] = spendingSummaryDF["% Passing Math"].map("{:.2f}%".format)
spendingSummaryDF["% Passing Reading"] = spendingSummaryDF["% Passing Reading"].map("{:.2f}%".format)
spendingSummaryDF["% Overall Passing"] = spendingSummaryDF["% Overall Passing"].map("{:.2f}%".format)

# Display results
spendingSummaryDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.45,83.93,93.46%,96.61%,95.03%
$585-630,81.90,83.16,87.13%,92.72%,89.93%
$630-645,78.52,81.62,73.48%,84.39%,78.94%
$645-680,77.00,81.03,66.16%,81.13%,73.65%

## Scores by School Size

In [415]:
schoolSpendingDF2 = schoolSpendingDF.copy()
schoolSpendingDF2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),% Overall Pssing
school_name,,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64%,$585-630,54.64
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33%,<$585,91.33
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20%,$630-645,53.20
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29%,$630-645,54.29
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60%,$585-630,90.60
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53%,$645-680,53.53
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23%,<$585,89.23
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51%,$645-680,53.51
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54%,$645-680,53.54
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54%,$585-630,90.54
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99%,$630-645,52.99
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89%,$585-630,89.89
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95%,$630-645,90.95
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58%,<$585,90.58
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33%,<$585,90.33

In [416]:
# convert the total_students column
schoolSpendingDF2["Total Students"] = schoolSpendingDF["Total Students"].str.replace(",","").astype(int)
schoolSpendingDF2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),% Overall Pssing
school_name,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64%,$585-630,54.64
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33%,<$585,91.33
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20%,$630-645,53.20
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29%,$630-645,54.29
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60%,$585-630,90.60
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53%,$645-680,53.53
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23%,<$585,89.23
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51%,$645-680,53.51
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54%,$645-680,53.54
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54%,$585-630,90.54
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99%,$630-645,52.99
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89%,$585-630,89.89
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95%,$630-645,90.95
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58%,<$585,90.58
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33%,<$585,90.33

In [417]:
# convert the total_ students column
schoolSpendingDF2["Total Student"] = schoolSpendingDF["Total Students"].str.replace(",","").astype(int)
schoolSpendingDF2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),% Overall Pssing,Total Student
school_name,,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64%,$585-630,54.64,4976
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33%,<$585,91.33,1858
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20%,$630-645,53.20,2949
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29%,$630-645,54.29,2739
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60%,$585-630,90.60,1468
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53%,$645-680,53.53,4635
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23%,<$585,89.23,427
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51%,$645-680,53.51,2917
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54%,$645-680,53.54,4761
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54%,$585-630,90.54,962
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99%,$630-645,52.99,3999
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89%,$585-630,89.89,1761
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95%,$630-645,90.95,1635
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58%,<$585,90.58,2283
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33%,<$585,90.33,1800

In [418]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [419]:
# Categorize the spending based on the bins
# Use 'pd.cut' on the "Total Students" column of the 'per_school_summary' DataFrame.
schoolSpendingDF2["School Size"] = pd.cut(schoolSpendingDF2["Total Students"], bins=size_bins, labels=labels)
schoolSpendingDF2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),% Overall Pssing,Total Student,School Size
school_name,,,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64%,$585-630,54.64,4976,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33%,<$585,91.33,1858,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20%,$630-645,53.20,2949,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29%,$630-645,54.29,2739,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60%,$585-630,90.60,1468,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53%,$645-680,53.53,4635,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23%,<$585,89.23,427,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51%,$645-680,53.51,2917,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54%,$645-680,53.54,4761,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54%,$585-630,90.54,962,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99%,$630-645,52.99,3999,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89%,$585-630,89.89,1761,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95%,$630-645,90.95,1635,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58%,<$585,90.58,2283,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33%,<$585,90.33,1800,Medium (1000-2000)

In [420]:
schoolSpendingDF2 = schoolSpendingDF2.groupby("Spending Ranges (Per Student)",observed=False).mean(numeric_only=True)
schoolSpendingDF2

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pssing,Total Student
Spending Ranges (Per Student),,,,,,,
<$585,1592.000000,83.452500,83.932500,93.460000,96.610000,90.367500,1592.000000
$585-630,2291.750000,81.900000,83.155000,87.132500,92.717500,81.417500,2291.750000
$630-645,2830.500000,78.517500,81.625000,73.485000,84.392500,62.857500,2830.500000
$645-680,4104.333333,76.996667,81.026667,66.163333,81.133333,53.526667,4104.333333

In [421]:
# grab each series
spendingMathSeries = schoolSpendingDF2["Average Math Score"]
spendingReadingSeries = schoolSpendingDF2["Average Reading Score"]
spendingPassMathSeries = schoolSpendingDF2["% Passing Math"]
spendingPassReadingSeries = schoolSpendingDF2["% Passing Reading"]
schoolSpendingDF2["% Overall Passing"] = (schoolSpendingDF2["% Passing Math"] + schoolSpendingDF2["% Passing Reading"]) / 2

In [422]:
# Assemble into DataFrame
schoolSpendingDF2 = pd.DataFrame(
    {
        "Average Math Score": spendingMathSeries,
        "Average Reading Score": spendingReadingSeries,
        "% Passing Math": spendingPassMathSeries,
        "% Passing Reading": spendingPassReadingSeries,
        "% Overall Passing": (spendingPassMathSeries + spendingPassReadingSeries) / 2
    }
)

# Format the columns
schoolSpendingDF2["Average Math Score"] = schoolSpendingDF2["Average Math Score"].map("{:.2f}".format)
schoolSpendingDF2["Average Reading Score"] = schoolSpendingDF2["Average Reading Score"].map("{:.2f}".format)
schoolSpendingDF2["% Passing Math"] = schoolSpendingDF2["% Passing Math"].map("{:.2f}%".format)
schoolSpendingDF2["% Passing Reading"] = schoolSpendingDF2["% Passing Reading"].map("{:.2f}%".format)
schoolSpendingDF2["% Overall Passing"] = schoolSpendingDF2["% Overall Passing"].map("{:.2f}%".format)

# Display results
schoolSpendingDF2

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.45,83.93,93.46%,96.61%,95.03%
$585-630,81.90,83.16,87.13%,92.72%,89.93%
$630-645,78.52,81.62,73.48%,84.39%,78.94%
$645-680,77.00,81.03,66.16%,81.13%,73.65%

## Scores by School Type

In [424]:
# group by type of school
schoo_type = school_data_complete.groupby("type")

#calculations 
average_math_score = schoo_type['math_score'].mean()
average_reading_score = schoo_type['math_score'].mean()
pass_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/schoo_type['Student ID'].count()*100

# df build            
scores_schoo_type = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall})
    
#reorder columns
scores_schoo_type = scores_schoo_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "% Overall Passing"
]]
scores_schoo_type.index.name = "Type of School"


#formating
scores_schoo_type.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})